---
import Lorem from '../components/Lorem.astro';
import '../components/Test.js';
---

<!doctype html>
<html lang="en">
<head>
    <title>Demo</title>
</head>
<body>
    <h1>Test app</h1>

    <Lorem />

    <calc-add:load num={33} />
</body>
</html>
