---
import Lorem from '../components/Lorem.astro';
import '../components/alert.js';
import '../components/switch.js';
---

<!doctype html>
<html lang="en">
<head>
    <title>Demo</title>
    <style>
        body {
            font-family: Verdana, sans-serif;
            max-width: 900px;
            margin: auto;
        }

        .page-title {
            text-align: center;
            margin-bottom: 5rem;
        }
    </style>
</head>
<body>
    <h1 class="page-title">Custom Element renderer for Astro</h1>
    <p>Zero JavaScript below</p>

    <section>
        <h2>generic-components</h2>

        <h3>&lt;generic-alert&gt;</h3>
        <generic-alert>This is an alert</generic-alert>

        <h3>&lt;generic-switch&gt;</h3>
        <generic-switch:idle checked></generic-switch:idle>
    </section>
    
</body>
</html>
